{% macro warnings(text) %}
	{% if text.warnings|length > 0 %}
		<div role="alert" class="m-10">
			<div class="bg-orange-500 text-white font-bold rounded-t-md px-4 py-2">
				<svg class="inline-block mr-2" viewBox="0 0 125 140" height="24px">
					<path d="M9.821,118.048h104.4c7.3,0,12-7.7,8.7-14.2l-52.2-92.5c-3.601-7.199-13.9-7.199-17.5,0l-52.2,92.5 C-2.179,110.348,2.521,118.048,9.821,118.048z M70.222,96.548c0,4.8-3.5,8.5-8.5,8.5s-8.5-3.7-8.5-8.5v-0.2c0-4.8,3.5-8.5,8.5-8.5 s8.5,3.7,8.5,8.5V96.548z M57.121,34.048h9.801c2.699,0,4.3,2.3,4,5.2l-4.301,37.6c-0.3,2.7-2.1,4.4-4.6,4.4s-4.3-1.7-4.6-4.4 l-4.301-37.6C52.821,36.348,54.422,34.048,57.121,34.048z" fill="white"/>
				</svg>
				Content warning
			</div>
			<div class="border border-t-0 border-orange-400 bg-orange-100 px-4 py-3 text-orange-700">
				<p>
					The text of this item has been flagged as containing 
					{% set comma = joiner() %}
					{% for warning in text.warnings -%}
						{%- if text.warnings|length > 1 and warning == text.warnings|last %}
							and
						{% else -%}
							{{- comma() }}
						{% endif %}
						<span class="font-bold">
							{{- warning.name -}}
						</span>	
					{%- endfor -%}
					.
				</p>
			</div>
		</div>
	{% endif %}
{% endmacro %}
