---
layout: layouts/dynamic.njk
title: Characters
description: Characters in Sources
---
{% if not data.characters %}
	<div>
		<p><i>No characters</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="{{ '/characters/common/' | url | abs_url }}">Commonality</a></h3>
	{% set splitted = data.characters | bettersort('name') | alphasplit('name') %}
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.characters) }}
		<ul class="category-list">
			{% for alpha in splitted %}
				{% set letter = (alpha|first).name|firstletter %}
				<a class="inline" name="alpha-anchor-{{letter}}" href="#alpha-anchor-{{letter}}">
					<h2 class="inline">{{letter}}</h2>
				</a>
				<hr class="mb-2 border border-black"/>
				{% for character in alpha %}
					<li><a href="{{ ('/characters/' + character.id) | url | abs_url }}">
						{{ character.name|truncate(config.truncate)|smartquotes|e }}
					</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
