---
layout: layouts/dynamic.njk
title: Time Signatures
description: Time Signatures in Sources
---
{% if not data.timesigs %}
	<div>
		<p><i>No time signatures</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="/timesigs/common/">Commonality</a></h3>
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.timesigs) }}
		<ul>
			{% for timesig in data.timesigs | sort(false, false, 'name') %}
				<li><a href="{{ ('/timesigs/' + timesig.id) | url | abs_url }}">{{ timesig.name|smartquotes|e }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
