---
layout: layouts/dynamic.njk
title: People
description: People in Sources
---
{% set splitted = data.people | bettersort('surname') | alphasplit('surname') %}
{% if not data.people %}
	<div>
		<p><i>No people</i></p>
	</div>
{% else %}
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.people) }}
		<ul class="category-list">
			{% for alpha in splitted %}
				{% set letter = (alpha|first).surname|firstletter %}
				<a class="inline" name="alpha-anchor{{letter}}" href="#alpha-anchor-{{letter}}">
					<h2 class="inline">{{letter}}</h2>
				</a>
				<hr class="mb-2 border border-black"/>
				{% for person in alpha %}
					<li><a href="{{ ('/people/' + person.id) | url | abs_url }}">
						{{ person.name|smartquotes|e }}
						{% if person.dates and person.dates|length > 0 %}
							(
								{{- person.dates[0] -}}
								{%- if (person.dates | length) == 2 -%}
									&ndash;
									{{- person.dates[1] -}}
								{%- endif -%}
							)
						{% endif %}
					</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
