---
layout: layouts/dynamic.njk
title: Texts
description: Texts in Sources
---
{% set splitted = data.texts | bettersort('edited') | alphasplit('edited') %}
{% if not data.texts %}
	<div>
		<p><i>No texts</i></p>
	</div>
{% else %}
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.texts) }}
		<ul class="category-list">
			{% for alpha in splitted %}
				{% set letter = (alpha|first).edited|firstletter %}
				<a class="inline" name="alpha-anchor-{{letter}}" href="#alpha-anchor-{{letter}}">
					<h2 class="inline">{{letter}}</h2>
				</a>
				<hr class="mb-2 border border-black"/>
				{% for text in alpha %}
					<li><a href="{{ ('/texts/' + text.id) | url | abs_url }}">
						{% if text.truncated %}
							{{ text.truncated|smartquotes|e }}
						{% else %}
							{{ text.edited|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
						{% endif %}
						{% if text.warnings|length > 0 %}
							<span class="icon-warning-small" title="A content warning exists for this text"></span>
						{% endif %}
					</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
