---
layout: layouts/dynamic.njk
title: Voices
description: Number of Voices in Sources, sorted by most common to least common
---
{% from "partials/startcol.njk" import startcol with context %}
{% if not data.songs %}
	<div>
		<p><i>No songs in sources</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/voices/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{{ startcol(data.voices) }}
		<ul>
			{% for voice in data.voices | sort(true, false, "songs") %}
				<li><a href="{{ ('/voices/' + voice.voices) | url | abs_url }}">
					Songs for
					{{ voice.voices | englishNumber | lower |smartquotes|e }}
					{% if voice.voices == 1 %}
						voice
					{% else %}
						voices
					{% endif %}
					({{ voice.songs|length }} song
					{%- if voice.songs|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
