---
layout: layouts/dynamic.njk
title: Characters
description: Characters in Sources, sorted by most common to least common
---
{% if not data.characters %}
	<div>
		<p><i>No characters</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/composers/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.characters) }}
		<ul>
			{% for character in data.characters | sortLinkLen('texts') %}
				<li><a href="{{ ('/characters/' + character.id) | url | abs_url }}">
					{{ character.name|smartquotes|e }}
					({{ character.links.texts|length }} text
					{%- if character.links.texts|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
