---
layout: layouts/dynamic.njk
title: Songs
description: Songs items
---
{% from "icons.njk" import edrec %}
{% set splitted = data.songs | bettersort('sortabletitle') | alphasplit('sortabletitle') %}
{% if not data.songs %}
	<div>
		<p><i>No songs</i></p>
	</div>
{% else %}
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.songs) }}
		<ul class="category-list">
			{% for alpha in splitted %}
				{% set letter = (alpha|first).sortabletitle|firstletter %}
				<a class="inline" name="alpha-anchor-{{letter}}" href="#alpha-anchor-{{letter}}">
					<h2 class="inline">{{letter}}</h2>
				</a>
				<hr class="mb-2 border border-black"/>
				{% for song in alpha %}
					<li><a href="{{ ('/songs/' + song.id) | url | abs_url }}">
						{{ song.sortabletitle|truncate(config.truncate)|smartquotes|e }}
						{{ edrec(song, small=true) }}
					</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
