---
layout: layouts/dynamic.njk
title: More Categories
description: More categories to browse
---
<div>
	<ul>
		<li><a href="{{ '/audio' | url | abs_url }}">Audio</a></li>
		<li><a href="{{ '/characters' | url | abs_url }}">Characters</a></li>
		<li><a href="{{ '/composers' | url | abs_url }}">Composers</a></li>
		<li><a href="{{ '/editions' | url | abs_url }}">Editions</a></li>
		<li><a href="{{ '/editors' | url | abs_url }}">Editors</a></li>
		<li><a href="{{ '/genres' | url | abs_url }}">Genres</a></li>
		<li><a href="{{ '/items' | url | abs_url }}">Items</a></li>
		<li><a href="{{ '/keys' | url | abs_url }}">Keys</a></li>
		<li><a href="{{ '/people' | url | abs_url }}">All People</a></li>
		<li><a href="{{ '/recordings' | url | abs_url }}">All Recordings</a></li>
		<li><a href="{{ '/songs' | url | abs_url }}">Songs</a></li>
		<li><a href="{{ '/sources' | url | abs_url }}">Sources</a></li>
		<li><a href="{{ '/tempos' | url | abs_url }}">Tempos</a></li>
		<li><a href="{{ '/texts' | url | abs_url }}">Texts</a></li>
		<li><a href="{{ '/timesigs' | url | abs_url }}">Time Signatures</a></li>
		<li><a href="{{ '/video' | url | abs_url }}">Videos</a></li>
		<li><a href="{{ '/voices' | url | abs_url }}">Number of Voices</a></li>
	</ul>
</div>
