---
layout: layouts/dynamic.njk
title: Time Signatures
description: Time Signatures in Sources, sorted by most common to least common
---
{% from "partials/startcol.njk" import startcol with context %}
{% if not data.timesigs %}
	<div>
		<p><i>No time signatures</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <a href="{{ '/timesigs/' | url | abs_url }}">Alphabetical</a> | <span class="underline">Commonality</span></h3>
	{{ startcol(data.timesigs) }}
		<ul>
			{% for timesig in data.timesigs | sortLinkLen('items') %}
				<li><a href="{{ ('/timesigs/' + timesig.id) | url | abs_url }}">
					{{ timesig.name|smartquotes|e }}
					({{ timesig.links.items|length }} song
					{%- if timesig.links.items|length != 1 -%}
						s
					{%- endif -%})
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
