---
layout: layouts/dynamic.njk
title: Composers
description: Composers in Sources
---
{%- set filtered = [] -%}
{%- for person in data.people -%}
	{%- if person.links.songs -%}
		{%- set broken = false -%}
		{%- for song in person.links.songs -%}
			{%- if (not broken) and song.composers.includes(person) -%}
				{%- set dummy = filtered.push(person) -%}
				{%- set broken = true -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
{%- set splitted = filtered | bettersort('surname') | alphasplit('surname') -%}
{% if not filtered %}
	<div>
		<p><i>No composers</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="{{ '/composers/common/' | url | abs_url }}">Commonality</a></h3>
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(filtered) }}
		<ul class="category-list">
			{% for alpha in splitted %}
				{% set letter = (alpha|first).surname|firstletter %}
				<a class="inline" name="alpha-anchor{{letter}}" href="#alpha-anchor-{{letter}}">
					<h2 class="inline">{{letter}}</h2>
				</a>
				<hr class="mb-2 border border-black"/>
				{% for person in alpha %}
					<li><a href="{{ ('/people/' + person.id) | url | abs_url }}">
						{{ person.name|smartquotes|e }}
						{% if person.dates and person.dates|length > 0 %}
							(
								{{- person.dates[0] -}}
								{%- if (person.dates | length) == 2 -%}
									&ndash;
									{{- person.dates[1] -}}
								{%- endif -%}
							)
						{% endif %}
					</a></li>
				{% endfor %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
