---
layout: layouts/dynamic.njk
title: Sources
description: Sources
---
{% if not data.sources %}
	<div>
		<p><i>No sources</i></p>
	</div>
{% else %}
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.sources) }}
		<ul>
			{% for source in data.sources | sort(false, false, 'shelfmark') %}
				<li><a href="{{ ('/sources/' + source.id) | url | abs_url }}">{{ source.shelfmark|smartquotes|e }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
