---
pagination:
    data: data.characters
    size: 1
    alias: record
recordattr: name
permalink: "characters/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Character
description: Character in Source
---
{% from "partials/startcol.njk" import startcol with context %}
<div typeof="dbo:FictionalCharacter" about="#character-{{record.id}}">
	{% if not record.links.texts %}
		<div>
			<p><i>No texts contain this character: &ldquo;<span property="foaf:name">{{record.name}}</span>&rdquo;</i></p>
		</div>
	{% else %}
		<h2 class="mb-2">Texts that contain &ldquo;<span property="foaf:name">{{ record.name }}</span>&rdquo;:</h2>
		{{ startcol(record.links.texts) }}
			<ul>
				{% for text in record.links.texts %}
					<li>
						<a rel="dcterms:isReferencedBy" typeof="mo:Lyrics" href="{{ ('/texts/' + text.id) | url | abs_url }}">
							{% if text.truncated %}
								{{ text.truncated|smartquotes|e }}
							{% else %}
								{{ text.edited|trimnonalpha|truncate(config.truncate)|smartquotes|e }}
							{% endif %}
							{% if text.warnings|length > 0 %}
								<span class="icon-warning-small" title="A content warning exists for this text"></span>
							{% endif %}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
