---
pagination:
    data: data.items
    size: 1
    alias: record
recordattr: sortabletitle
permalink: "items/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Item
description: Item in Source
---
{% from "partials/startcol.njk" import startcol with context %}
{% import 'image.njk' as addimage with context %}
{% from "icons.njk" import edrec %}
{% set sources = record.pages | attrdive("sources") | unique %}
<div type="mo:MusicalManifestation" about="#item-{{record.id}}">
	<meta property="dc:title" content="{{ record.sortabletitle }}"/>
	{{ startcol(record.pages) }}
		<ul class="list-none block text-xl">
			{% for source in sources %}
				<li class="block">
					{% set pages = record.pages | selectattrhas("sources", source) %}
					{% set comma = joiner() %}
					<a rel="rdfs:Container" typeof="mo:MusicalManifestation" class="inline-block" href="{{ ('/sources/' + source.id) | url | abs_url }}">{{ source.shelfmark }}</a>
					{%- if pages and pages|length > 0 -%}
						:
						<ul class="list-none inline-block">
							{% for page in pages | numericsort("pagenum") -%}
								{{ comma() }}
								<li
class="inline-block"><a rel="rdfs:Container" typeof="dbo:Page (paper)" href="{{ ('/pages/' + page.id) | url | abs_url }}">Page {{ page.pagenum|smartquotes|e }}</a></li>
							{%- endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		{% if record.presentedcomposer %}
			by
			<i class="text-xl">
				{% if record.composers|length == 1 %}
					<a rel="mo:composer" typeof="foaf:Person" href="{{ ('/people/' + (record.composers|first).id) | url | abs_url }}" title="{{ (record.composers|first).name }}">{{ record.presentedcomposer|smartquotes|e }}</a>
				{% else %}
					<span property="mo:composer">{{ record.presentedcomposer|smartquotes|e }}</span>
					{% set comma = joiner() %}
					(
					{%- for composer in record.composers -%}
						{{- comma() }} <a rel="mo:composer" typeof="foaf:Person" href="{{ ('/people/' + composer.id) | url | abs_url }}">{{ composer.name|smartquotes|e }}</a>
					{%- endfor -%}
					)
				{%- endif -%}
				.
			</i>
		{% endif %}
		{% set sentence = true %}
		<a rel="mo:Membership" typeof="xsd:positiveInteger" href="{{ ('/voices/' + record.voices) | url | abs_url }}">
			For
			{{ record.voices|englishNumber|smartquotes|e }} voices</a>
		{%- if record.keys and record.keys|length > 0 -%}
			, in
			{% set comma = joiner() %}
			{% for key in record.keys -%}
				{{- comma() }} <a rel="mso:hasKey" typeof="ton:Key" href="{{ ('/keys/' + key.id) | url | abs_url }}">{{ key.name|smartquotes|e }}</a>
			{% endfor %}
		{% endif %}
	</div>
	<div class="mb-2">
		{% set sentence = false %}
		{% if record.timesigs and record.timesigs|length > 0 %}
			{% set sentence = true %}
			{% set comma = joiner() %}
			{% for timesig in record.timesigs -%}
				{{- comma() }} <a rel="mso:hasTime" typeof="mso:TimeSignature" href="{{ ('/timesigs/' + timesig.id) | url | abs_url }}">{{ timesig.name|smartquotes|e }}</a>
			{%- endfor -%}
		{%- endif -%}
		{%- if record.tempos and record.tempos|length > 0 -%}
			{%- if sentence -%}
				,
			{% endif %}
			<i>
				{% set comma = joiner() %}
				{% for tempo in record.tempos -%}
					{{- comma() }} <a rel="mo:tempo" typeof="xsd:string" href="{{ ('/tempos/' + tempo.id) | url | abs_url }}">{{ tempo.name|smartquotes|e }}</a>
				{%- endfor %}
			</i>
		{% endif %}
	</div>
	<h2>Song:
		<a rel="dcmi:isVersionOf" typeof="mo:MusicalWork" href="{{ ('/songs/' + (record.links.songs|first).id) | url | abs_url }}">
			{{ (record.links.songs|first).sortabletitle|truncate(config.truncate)|smartquotes|e }}
			{{ edrec(record.links.songs|first) }}
		</a>
	</h2>
	<blockquote>
		{{record.presentedtext|e|nl2br}}
	</blockquote>
	{% if config.images %}
		<h2>Images:</h2>
		<ul class="category-list">
			{% for page in record.pages %}
				{{addimage.linkedimages(page.images|sort)}}
			{% endfor %}
		</ul>
	{% endif %}
</div>
