---
pagination:
    data: data.people
    size: 1
    alias: record
recordattr: name
permalink: "people/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Person
description: Person in Source
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "icons.njk" import edrec %}
<div typeof="foaf:Person" about="#person-{{record.id}}">
	<meta property="foaf:name" content="{{ record.name }}"/>
	<h2>
		{% if record.dates and (record.dates | length) > 0 %}
			(
				{%- if (record.dates | length) == 1 -%}
					<span property="mo:Activity">{{ record.dates[0] }}</span>
				{%- elif (record.dates | length) == 2 -%}
					<span property="dbo:birthDate">
						{{- record.dates[0] -}}
					</span>&ndash;<span property="dbo:deathDate">
						{{- record.dates[1] -}}
					</span>
				{%- endif -%}
			)
		{% endif %}
	</h2>
	{% if record.links.songs %}
		<h2 class="mb-2">Compositions:</h2>
		{{ startcol(record.links.songs) }}
			<ul>
				{% for song in record.links.songs %}
					<li><a rel="mo:Composition" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
							{% if song.title %}
								{{ song.title|truncate(config.truncate)|smartquotes|e }}
							{% elif song.texts[0].truncated %}
								{{ song.texts[0].truncated|smartquotes|e }}
							{% elif song.texts[0].edited %}
								{{ song.texts[0].edited | truncate(config.truncate)|smartquotes|e }}
							{% elif song.presentedtexttruncated %}
								{{ song.presentedtexttruncated|smartquotes|e }}
							{% else %}
								{{ song.presentedtext | truncate(config.truncate)|smartquotes|e }}
							{% endif %}
							{{ edrec(song, small=true) }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if record.links.sources %}
		<h2 class="mb-2">Edited sources:</h2>
		{{ startcol(record.links.sources) }}
			<ul>
				{% for source in record.links.sources %}
					<li><a rel="pro:editor" typeof="mo:MusicalManifestation" href="{{ ('/sources/' + source.id) | url | abs_url }}">{{ source.shelfmark|truncate(config.truncate)|smartquotes|e }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
