---
pagination:
    data: data.songs
    size: 1
    alias: record
recordattr: sortabletitle
permalink: "songs/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Song
description: Song item
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "partials/edition.njk" import pdfedition %}
{% import 'image.njk' as addimage with context %}
{% from "video.njk" import facebook %}
{% from "warnings.njk" import warnings %}
<div type="mo:MusicalWork" about="#song-{{record.id}}">
	{% for text in record.texts %}
		{{ warnings(text) }}
	{% endfor %}
	<meta property="dc:title" content="{{ record.sortabletitle }}"/>
	<div>
		<i class="text-xl">
			by
			{% if record.composers|length == 1 %}
				<a rel="mo:composer" typeof="foaf:Person" href="{{ ('/people/' + (record.composers|first).id) | url | abs_url }}">{{ (record.composers|first).name }}</a>
			{% else %}
				{% set comma = joiner() %}
				{%- for composer in record.composers -%}
					{{- comma() }} <a rel="mo:composer" typeof="foaf:Person" href="{{ ('/people/' + composer.id) | url | abs_url }}">{{ composer.name|smartquotes|e }}</a>
				{%- endfor -%}
			{%- endif -%}
			.
		</i>
		{% set sentence = false %}
		{% if record.genres and record.genres|length > 0 %}
			{% set sentence = true %}
			A
			{% set comma = joiner() %}
			{% for genre in record.genres -%}
				{{- comma() }}
				<a rel="mo:genre" typeof="mo:Genre" href="{{ ('/genres/' + genre.id) | url | abs_url }}">{{ genre.name|smartquotes|e }}</a>
			{%- endfor %}
		{% endif %}
		{% if record.voices|length == 1 %}
			<a rel="mo:Membership" typeof="xsd:positiveInteger" href="{{ ('/voices/' + record.voices|first) | url | abs_url }}">
				{% if sentence %}
					for
				{% else %}
					{% set sentence = true %}
					For
				{% endif %}
				{{ record.voices|first|englishNumber|smartquotes|e }} voices</a>
		{% else %}	
			{% set comma = joiner() %}
			{% if sentence %}
				for
			{% else %}
				{% set sentence = true %}
				For
			{% endif %}
			{% for voice in record.voices -%}
				{{- comma() }}	
				<a rel="mo:Membership" typeof="xsd:positiveInteger" href="{{ ('/voices/' + voice) | url | abs_url }}">
					{{ voice|englishNumber|smartquotes|e }}</a>
			{%- endfor %}
			voices
		{%- endif -%}
		{%- if record.keys and record.keys|length > 0 -%}
			{%- if sentence -%}
				, in
			{% else %}
				{% set sentence = true %}
				In
			{% endif %}
			{% set comma = joiner() %}
			{% for key in record.keys -%}
				{{- comma() }} <a rel="mso:hasKey" typeof="ton:Key" href="{{ ('/keys/' + key.id) | url | abs_url }}">{{ key.name|smartquotes|e }}</a>
			{% endfor %}
		{% endif %}
	</div>
	<div class="mb-2">
		{% set sentence = false %}
		{% if record.timesigs and record.timesigs|length > 0 %}
			{% set sentence = true %}
			{% set comma = joiner() %}
			{% for timesig in record.timesigs -%}
				{{- comma() }} <a rel="mso:hasTime" typeof="mso:TimeSignature" href="{{ ('/timesigs/' + timesig.id) | url | abs_url }}">{{ timesig.name|smartquotes|e }}</a>
			{%- endfor -%}
		{%- endif -%}
		{%- if record.tempos and record.tempos|length > 0 -%}
			{%- if sentence -%}
				,
			{% endif %}
			<i>
				{% set comma = joiner() %}
				{% for tempo in record.tempos -%}
					{{- comma() }} <a rel="mo:tempo" typeof="xsd:string" href="{{ ('/tempos/' + tempo.id) | url | abs_url }}">{{ tempo.name|smartquotes|e }}</a>
				{%- endfor %}
			</i>
		{% endif %}
	</div>
	{% if record.audio or record.videos %}
		<h2>Recording:</h2>
	{% endif %}
	{% if record.audio %}
		<audio controls preload="metadata" class="transition-all shadow-lg rounded-lg w-11/12 my-4">
			<source src="{{ ('/audios/' + (record.audio|first).filename) | url | abs_url }}"/>
		</audio>
	{% endif %}
	{% if record.videos %}
		{{facebook((record.videos|first).facebook)}}
	{% endif %}
	<h2>Text:</h2>
	{% if record.texts|length > 1 %}
		<ul>
			{% for text in record.texts %}
				<li><a rel="mo:lyrics" typeof="mo:Lyrics" href="{{ ('/texts/' + text.id) | url | abs_url }}">
					{% if text.truncated %}
						{{ text.truncated|smartquotes|e }}
					{% else %}
						{{ text.edited | truncate(config.truncate)|smartquotes|e }}
					{% endif %}
				</a></li>
			{% endfor %}
		</ul>
	{% elif record.texts|length > 0 %}
		<blockquote>
			<a rel="mo:lyrics" typeof="mo:Lyrics" href="{{ ('/texts/' + record.texts[0].id) | url | abs_url }}">
				{{ (record.texts|first).edited | smartquotes | e | nl2br }}
			</a>
		</blockquote>
	{% else %}
		<p>No text</p>
	{% endif %}
	<h2>This song in sources:</h2>
	<ul>
		{% for item in record.items %}
			{% set sources = item.pages | attrdive("sources") | unique %}
			<li><a rel="dcmi:hasVersion" typeof="mo:MusicalManifestation" href="{{ ('/items/' + item.id) | url | abs_url }}">
				{% set comma = joiner() %}
				{% for source in sources %}
					{{- comma() }} {{ source.shelfmark -}}
				{%- endfor %}
			</a></li>
		{% endfor %}
	</ul>
	{% if config.images %}
		<h2>Images:</h2>
		<ul class="category-list">
			{% for page in record.pages %}
				{{addimage.linkedimages(page.images|sort)}}
			{% endfor %}
		</ul>
	{% endif %}
	{% if record.editions %}
		<h2>Edition:</h2>
		<ul>
			{% for edition in record.editions %}
				<li>
					{{pdfedition(edition)}}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
