---
pagination:
    data: data.sources
    size: 1
    alias: record
recordattr: shelfmark
permalink: "sources/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Source
description: Source
---
{% import 'image.njk' as addimage with context %}
<div type="mo:MusicalManifestation" about="#source-{{record.id}}">
	<p>Shelfmark: <i><span property="bf:ShelfMark">{{ record.shelfmark }}</span></i></p>
	<p>Editors:
		{% for editor in record.editors %}
			<a rel="pro:editor" typeof="foaf:Person" href="{{ ('/people/' + editor.id) | url | abs_url }}">{{ editor.name|smartquotes|e }}</a>
		{% endfor %}
	</p>
	<p class="text-center" property="dc:title">{{ record.formattedtitle | escape | nl2br }}</p>
	{% if record.links.pages and record.links.pages|length > 0 %}
		{% from "partials/startcol.njk" import startcol with context %}
		<h2>Pages in this source:</h2>
		{{ startcol(record.links.pages) }}
			<ul>
				{% for page in record.links.pages | numericsort("pagenum") %}
					<li>
						<a rel="dcterms:hasPart" typeof="dbo:Page (paper)" href="{{ ('/pages/' + page.id) | url | abs_url }}">Page {{ page.pagenum|smartquotes|e }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if config.images %}
		<h2>Other images:</h2>
		{{addimage.linkedimages(record.images|sort)}}
	{% endif %}
</div>
