---
pagination:
    data: data.texts
    size: 1
    alias: record
recordattr: truncated
permalink: "texts/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Text
description: Text in Source
---
{% from "icons.njk" import edrec %}
{% from "warnings.njk" import warnings %}
<div type="mo:Lyrics" about="#text-{{record.id}}">
	{{ warnings(record) }}
	{% if record.characters and record.characters|length > 0 %}
		<h2>Characters:</h2>
		<ul>
			{% for character in record.characters | bettersort('name') %}
				<li><a rel="dcterms:references" typeof="dbo:FictionalCharacter" href="{{ ('/characters/' + character.id) | url | abs_url }}">{{ character.name }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
	<blockquote property="mo:text">
		{{- record.edited | smartquotes | escape | nl2br -}}
	</blockquote>
	<h2>Songs with this text:</h2>
	<ul>
		{% for song in record.links.songs | bettersort('sortabletitle') %}
			<li>
				<a rel="mo:produced_score" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
					{{ song.sortabletitle|truncate(config.truncate)|smartquotes|e }}
					{{ edrec(song, small=true) }}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
