---
pagination:
    data: data.videos
    size: 1
    alias: record
recordattr: title
permalink: "video/{{ record.id }}/"
layout: layouts/dynamic.njk
title: Video
description: Video of song
---
{% from "partials/startcol.njk" import startcol with context %}
{% from "video.njk" import facebook %}
{% from "icons.njk" import edrec %}
<div typeof="mo:AudioFile">
	<meta property="rdfs:Resource" content="https://www.facebook.com/Iuchair/videos/{{record.facebook}}"/>
	<meta property="dc:title" content="{{ record.title }}"/>
	{{facebook(record.facebook)}}
	{% if not record.links.songs %}
		<div>
			<p><i>No songs relating to this video: &ldquo;{{record.title}}&rdquo;</i></p>
		</div>
	{% else %}
		<h2>Video of:</h2>
		{{ startcol(record.links.songs) }}
			<ul>
				{% for song in record.links.songs | bettersort('sortabletitle') %}
					<li>
						<a rel="mo:encodes" typeof="mo:MusicalWork" href="{{ ('/songs/' + song.id) | url | abs_url }}">
							{% if song.title %}
								{{ song.title|truncate(config.truncate)|smartquotes|e }}
							{% elif song.texts[0].truncated %}	
								{{ song.texts[0].truncated|smartquotes|e }}
							{% elif song.texts[0].edited %}
								{{ song.texts[0].edited | truncate(config.truncate)|smartquotes|e }}
							{% elif song.presentedtexttruncated %}
								{{ song.presentedtexttruncated|smartquotes|e }}
							{% else %}
								{{ song.presentedtext | truncate(config.truncate)|smartquotes|e }}
							{% endif %}
							{{ edrec(song, small=true) }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
</div>
