---
layout: layouts/dynamic.njk
title: Voices
description: Number of Voices in Sources
---
{% if not data.songs %}
	<div>
		<p><i>No songs in sources</i></p>
	</div>
{% else %}
	<h3 class="my-4">Sorted by: <span class="underline">Alphabetical</span> | <a href="{{ '/voices/common/' | url | abs_url }}">Commonality</a></h3>
	{% from "partials/startcol.njk" import startcol with context %}
	{{ startcol(data.voices) }}
		<ul>
			{% for voice in data.voices | sort(false, false, "voices") %}
				<li><a href="{{ ('/voices/' + voice.voices) | url | abs_url }}">
					Songs for
					{{ voice.voices | englishNumber | lower |smartquotes|e }}
					{% if voice.voices == 1 %}
						voice
					{% else %}
						voices
					{% endif %}
				</a></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
