{% macro pdfedition(edition) %}
	<div style="width:100%;padding-top:141.43%;position:relative;">
		<div style="position:absolute;top:0;left:0;right:0;bottom:0">
			<iframe src="{{ '/pdf/' + edition.id + '.pdf' }}" type="application/pdf" style="width:100%;height:100%;"></iframe>
		</div>
	</div>
{% endmacro %}
